{% extends 'base.html'%}
{% load static%} 
{% block title %}Home{% endblock title %}
{% block body %}
{% if messages%}
  {% for message in messages %}
  <script>
    alert("WithOut Login You Can Not Goes To Profile Page")
  </script>
  {% endfor %}
{% endif %}
{% if request.session.logedin %}
<script>
alert("You Already Loged-in")
</script>
{% endif %}
<div class="container-fluid my-0">
     <div id="carouselExampleFade " class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://source.unsplash.com/1600x600/?tajmahal" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://source.unsplash.com/1600x600/?gujarat" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="https://source.unsplash.com/1600x600/?india" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
</div>
{% endblock body %}