{% extends 'base.html'%}
{% load static%}
{% block title %}Home{% endblock title %}
{% block body %}
{% if messages%}
{% for message in messages %}
<script>
  alert("{{message}}")
</script>
{% endfor %}
{% endif %}
{% if request.session.emailotp %}
<script>
  alert("Restricted")
</script>
{% endif %}
<link rel="stylesheet" href="{% static 'css/contact.css'%}">
<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap" rel="stylesheet">

{% include 'header.html '%}
<div class="container-fluid px-0 my-0" >
  <div id="carouselExampleFade " class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="margin-top: -30px;">
        <p class="ptext"><h1 class="ptext">To Travel is to Live</h1></p>
        <p class="ptext" style="font-size: 30px;">“A good traveler has no fixed plans and is not intent on arriving.”
          ― Lao Tzu</p>  
        <img src="https://source.unsplash.com/random/1920x1080/?wallpaper,landscape'" class="d-block w-100" alt="...">
      </div>
      
      <div class="carousel-item" style="margin-top: -35px">
        <p class="ptext"><h1 class="ptext">hello</h1></p>
        <p class="ptext">hwll </p>  
        <img src="https://source.unsplash.com/random/1920x1080/?sun'" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" style="margin-top: -30px;">
        <p class="ptext"><h1 class="ptext">hello</h1></p>
        <p class="ptext">hwll </p>    
        <img src="https://source.unsplash.com/random/1920x1080/?india'" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>
</div>

<div class="Card-c px-1 my-4">
  {% if item%}
  {% for item1 in item %}
  <div class="card" style="width: 18rem;">
    <img src="http://127.0.0.1:8000/media/{{item1.image}}" class="card-img-top" alt="..." width="200px" height="200px">
    <div class="card-body" style="background-color: lightyellow;">
      <img src="http://127.0.0.1:8000/media/user/newgif.gif" alt="" width="40" height="40">
      <h5 class="card-title">{{item1.Title}}</h5>
      <p class="card-text" style="white-space: nowrap;
      overflow: hidden;">{{item1.Discription}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Starting Date: <b>{{item1.DateOfStart}}</b></li>
    </ul>
    <div class="card-body" style="display: flex;">
    <form action="/services/book" method="post">
        {% csrf_token %}
        <input type="hidden" value="{{item1.id}}" name="id">
     <button type="submit" class="btn btn-info">Book</button>
     </form>
    <form action="/services/package" method="post">
      {% csrf_token %}
     <input type="hidden" value="{{item1.id}}" name="id">
     <button type="submit" class="btn btn-success" style="margin-left: 10px;">More Info</button>
    </form>
    </div>
  </div>
  {% endfor %}
  {% else %}

  <p style="margin-top: 30px; font-size: 30px;"><b><i class="fa-solid fa-question" style="color: red; font-size: 60px;"></i> &nbsp;Not Any Package Available <i class="fa-solid fa-question" style="color:red; font-size: 60px;"></i></b></p>
  
  {% endif %}
</div>


<div class="contact">
  <div class="content">
      <h2>Contact-Us</h2>
  </div>
  <div class="container">
      <div class="contactinfo">
          <div class="box">
              <div class="icon">
                  <i class="fa-solid fa-location-dot"></i>
              </div>
              <div class="text">
                  <h3>
                      Address
                  </h3>
                  <p style="color: orangered;">Junagadh, Gujarat 362001</p>
              </div>
          </div>
          <div class="box">
              <div class="icon">
                  <i class="fa-solid fa-phone"></i>
              </div>
              <div class="text">
                  <h3>
                      Phone
                  </h3>
                  <p style="color: orangered;" >+91 635-3647-592</p>
              </div>
          </div>
          <div class="box">
              <div class="icon">
                  <i class="fa-solid fa-envelope"></i>
              </div>
              <div class="text">
                  <h3>
                      Email
                  </h3>
                  <p  class="text3" style="color: orangered;">tour.india1414@gmail.com</p>
              </div>
          </div>
      </div>
      <div class="contactform">
          <form action="/contact" method="post">
            {% csrf_token %}  
              <h2>Send Massage</h2>
              <div class="inputbox">
                {% if request.session.id %}
                <input type="text" name="name" id="" value="{{request.session.uname}}" readonly>
                {% else %}
                <input type="text" name="name" id="" value="" required>
                {% endif %}
                <h3>Full Name</h3>
            </div>
            <div class="inputbox">
                {% if request.session.id %}
                <input type="Email" name="email" id="" value="{{request.session.uemail}}" readonly>
                {% else %}
                <input type="Email" name="email" id="" value="" required>
                {% endif %}
                <h3>Email</h3>
            </div>  
              <div class="inputbox">
                  <textarea name="massage" id="" cols="15" rows="4" required placeholder="Enter Some Text ........"></textarea>
                  <h3>Type Your Massage</h3>
              </div>
              <div class="g-recaptcha" data-sitekey="6Ldrj0MkAAAAAASQKnw-QxEafe07-a1MgdW5ssqy"></div>
              <div class="inputbox">
                  <input type="submit" value="Send">
              </div>
          </form>
      </div>
  </div>
</div>

<div class="counter">

  <div class="Sub">
    <div class="text">&#128515; Total Visitor</div>
  <p class="text-center test">{{totalvisitor}}</p>
  </div>
  <div class="Sub">
    <div class="text">&#128203; Total Registerd</div>
    <p class="text-center test">{{totalregisteruser}}</p>
  </div>
  <div class="Sub">
    <div class="text">&#127757; Total Package</div>
    <p class="text-center test">{{totalpackage}}</p>
  </div>
</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

{% endblock body %}