{% extends 'base.html'%}
{% load static%}
{% block title %}Signup{% endblock title %}
{% block body %}
<link rel="stylesheet" href="{% static 'css/signup.css'%}">
<br>
<br>
<br>
<br>

{% if messages %}
  {% for message in messages %}
  <script>
    alert("{{message}}");
  </script>
  '{% endfor %}'
{% endif %}

<div class="wrapper">
  <div class="inner">
    <img src="{% static 'image/image-1.png'%}" alt="" class="image-1">
    <form action="{% url 'signup'%}" method="post" enctype="multipart/form-data" onsubmit="valid()">
      {% csrf_token %}
      <h3>New Account?</h3>
      <div class="form-holder">
        <span class="lnr lnr-user"></span>
        <input type="text" class="form-control" name="name" placeholder="Full Name" required>
      </div>
      <div class="form-holder">
        <span class="lnr lnr-phone-handset"></span>
        <input type="text" class="form-control" name="phone" placeholder="Phone Number" required>
      </div>
      <div class="form-holder">
        <span class="lnr lnr-envelope"></span>
        <input type="text" class="form-control" name="mail" placeholder="Mail" required>
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" class="form-control" name="pass" placeholder="Password" required>
      </div>
      <div class="form-holder">
        <span class="lnr lnr-lock"></span>
        <input type="password" name="cpass" class="form-control" placeholder="Confirm Password" required>
      </div>
      <div class="g-recaptcha" data-sitekey="6Ldrj0MkAAAAAASQKnw-QxEafe07-a1MgdW5ssqy"></div>
      <button class="save-btn">
        Register
      </button>
      <br>
      <p style="font-weight: bold;" class="text-center">Already Created Account &nbsp; <a href="login" style="font-weight: bold; ">Login</a></p>
    </form>
    <img src="{% static 'image/image-2.png'%}" alt="" class="image-2">
  </div>

</div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="js/jquery-3.3.1.min.js"> </script>
<script src="js/main.js"></script>
<script>
  btn=document.querySelector(".save-btn")
  function valid() {
    btn.innerHTML="<div class='loader'></div>&nbsp;<span style='color:black;'>Sending OTP....</span>"
    btn.style="background-color:#f1f5f4; pointer-events:none"
    setTimeout(()=>{
      btn.innerHTML="<span style='color:green;'>OTP SEND &#10004;</span>"

    },5000);
  }
</script>
{% endblock body %}

