body{
}
.manu{
    background-color: lightcyan;
    border-bottom:0px solid rgba(0, 0, 0, 0.9);
    position: relative;
    left: 200;

}
.manu img{
    height: 143px;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-top: 0px;
    padding-top: 10px;
    margin-bottom: -50px;
    position: relative;
    z-index: 10;
    
}
.manu ul{
    margin-left:350px ;
    display: flex;
    font-family: 'Patua One', cursive;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -100px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 13px;
    right: 0;
    list-style-type: none;
   
   
}
.manu ul a{
    color: black;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;

}
.Container-fluid{
   position: absolute;
}






