.main{
    padding: 15px;

}
.card{
    position: relative;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    text-align: center;
    height: 40px;
    font-weight: bolder;
    border-radius: 5px;
    border: 2px solid rgba(225,225, 225, 6);
}

.loader {
    border-bottom: 5px solid red;
    border-radius: 17%;
    border-top: 5px solid #3498db;
    border-left: 5px solid green;
    border-right: 5px solid orangered;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
